html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center{
  text-align: center;
}

.margin-title-top{
  margin-top: 30px;
}


.form-container{
  margin: auto;
  max-width: 500px;
  background-color: #bacbe6;
  border-radius: 19px;
  padding: 20px;
  
}


.form-item{
  margin: auto;
  margin-top: 15px;
  border-radius: 3px;
  width: 90%;
}

.center-button {
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 130px;
  margin: 10px auto 0px auto;
}


.red{
  color: red;
}


.green{
  color:green;
}
