@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<div class="form-container">
    <form method="post" action="@Url.Action("Register")">
        <div class="form-item">
              <label>
                  Email:
                  <input type="text" name="Email" class="form-control" required>
              </label>
        </div>
       
        <div class="form-item">
               <label>
                   Password:
                   <input type="password" name="Password" class="form-control" required>
               </label>
        </div>
        
        <div class="form-item">
            <label>
                Confirm password:
                <input type="password" name="ConfirmPassword" class="form-control" required>
            </label>
        </div>

        <button class="btn btn-outline-primary center-button">Register</button>

    </form>  
</div>
