@{
    ViewBag.Title = "Create Task";
}


<h2>Task creation</h2>

<div>
    <form asp-action="CreateTask" method="post">
        <div class="form-container">
            <div class="form-item">
                <label>
                    Task title:
                    <input class="form-control" type="text" name="Title"/>
                </label>
            </div>
            <div class="form-item">
                <label>
                    Task description:
                    <textarea class="form-control" name="Description"></textarea>
                </label>
            </div>
            <div class="form-item">
                <button class="btn btn-outline-primary">Create task</button>
            </div>
        </div>
        
    </form>
    
</div>
