@using Microsoft.EntityFrameworkCore.Infrastructure
@model TaskTracker.Models.DashBoard

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this dashboard (@Model.Title)?</h3>
<div>
    <h4>if has @Model.Users.Count users and @Model.Tasks.Count tasks.</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form actio="@Url.Action("Delete", "DashBoard", new {Id = Model.Id})" method="post">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-danger">Delete</button> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
